{% extends 'base.html' %}

{% block content %}
<meta name="keywords" content="longer living, how to have a longer living, living longer">

<div class="content">

    
    <h1>Longer Living Made Simple</h1>
    <p>Remember to get ☀️ light!</p>
    <p>Explore our topics:</p>

        <div class="emoji">
            <a href="/supplements/">💊</a>
        </div>
        <div class="emoji">
            <a href="/sleep/">💤</a>
        </div>
        <div class="emoji">
            <a href="/diet/">🥦</a>
        </div>

        
            <p>{% for study in studies %}
            <div class="modal">
                {% if study.filter == "Supplements" %}

                    <a href="/{{ study.slug }}/">{{ study.title }} 💊</a>

                {% elif study.filter == "Sleep" %}

                    <a href="/{{ study.slug }}/">{{ study.title }} 💤</a>

                {% elif study.filter == "Diet" %}

                    <a href="/{{ study.slug }}/">{{ study.title }} 🥦</a>

                {% endif %}
                <p class="limited-text" id="limited-text">{{ study.content }}</p>
            </div>
            {% endfor %}</p>
        
  </div>


{% endblock %}








